<%- include("./partials/header") %>

<div class="row">
   
    <div style="width: 50%; margin: 25px auto;" >
        <form action="/login" method="post" class="form-signin">
            <h1 class="h3 font-weight-normal">Please sign in</h1>

            <label for="inputUsername" class="sr-only">Username</label>
            <input style="margin: 10px auto" type="text" id="inputUsername" class="form-control" name="username" placeholder="Username" required autofocus>
            
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

        <div class="form-signin">
            <a href="/forgot" class="float-left">Forgot Password</a>
            <a href="/campgrounds" class="pull-right">Go Back</a>
        </div>     
    </div>

</div>

<%- include("./partials/footer") %>